.board {
  overflow: hidden;
  object-fit: contain;
  stroke: $foreground;

  & .outline {
    fill: none;
    stroke: $hint;
    stroke-dasharray: 5px 10px 5px 30px;
    stroke-dashoffset: -15px;
    stroke-linecap: round;
    stroke-width: 3px;
  }

  & [data-xy] {
    color: rgba($primary, 0);
    cursor: pointer;
    fill: $background;
    stroke-width: 2px;
    transition: color $transition, x $transition, y $transition;

    &.hinted {
      color: $secondary;
    }

    &:hover,
    &.selected {
      color: $primary;
    }
  }

  & .dots [data-xy] {
    fill: $foreground;
    stroke: $background;

    @each $name, $color in $colors {
      &[data-color="#{$name}"] {
        fill: $color;
        stroke: $foreground;
      }
    }
  }

  & .pieces [data-xy] {
    @each $name, $color in $colors {
      &[data-color="#{$name}"] {
        fill: $color;
        stroke: $foreground;
      }
    }
  }
}

#piece,
#dot {
  & .hover {
    fill: none;
    stroke: currentcolor;
  }
}
