* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $background;
  color: $foreground;
  font-family: Nunito, sans-serif;
}

a {
  color: $primary;
  text-decoration: none;
}

code {
  padding: 0 2px;
  background-color: rgba($foreground, 0.1);
  border-radius: 2px;
  white-space: pre-wrap;
}

pre > code {
  padding: 1rem;
}

kbd {
  padding: 0 2px;
  border: 1px solid $foreground;
  background-color: rgba($foreground, 0.1);
  border-radius: 2px;
  box-shadow: 0 2px rgba($foreground, 0.3);
}

.input {
  min-width: 5rem;
  min-height: 2em;
  padding: 0 0.5em;
  border: 2px solid $foreground;
  margin: 0;
  appearance: none;
  background: none;
  border-radius: 2px;
  line-height: 2em;
  outline-color: $primary;
  transition: border $transition;
}

.button {
  display: inline-block;
  min-width: 5rem;
  min-height: 2em;
  padding: 0.5em;
  border: 2px solid $foreground;
  appearance: none;
  background: $foreground;
  border-radius: 2px;
  color: $background;
  cursor: pointer;
  text-decoration: none;
  transition: background-color $transition;

  &:active {
    background: rgba($foreground, 0.6);
  }

  &:disabled {
    cursor: default;
  }

  &[hidden] {
    display: none;
  }
}

.hint {
  opacity: 0.5;
}

.centerbox {
  display: grid;
  max-width: 40rem;
  min-height: 100%;
  padding: 1rem;
  margin: 0 auto;
  place-content: center;
}

.links {
  position: fixed;
  right: 1rem;
  bottom: 1rem;

  & a {
    color: inherit;
  }

  & svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5rem;
    fill: currentcolor;
  }
}
