* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: $background;
  color: $foreground;
  height: 100%;
}

a {
  text-decoration: none;
  color: $primary;
}

.input {
  appearance: none;
  background: none;
  border: 2px solid $foreground;
  border-radius: 2px;
  margin: 0;
  padding: 0 0.5em;
  line-height: 2em;
  min-height: 2em;
  outline-color: $primary;
  transition: border $transition;
}

.button {
  cursor: pointer;
  display: inline-block;
  appearance: none;
  color: $background;
  border: 2px solid $foreground;
  text-decoration: none;
  border-radius: 2px;
  background: $foreground;
  padding: 0.5em;
  min-width: 2em;
  min-height: 2em;
  transition: background-color $transition;

  &:active {
    background: rgba($foreground, 0.6);
  }

  &:disabled {
    cursor: default;
  }

  &[hidden] {
    display: none;
  }
}

.hint {
  opacity: 0.5;
}
