* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: $background;
  color: $foreground;
  font-family: Nunito, sans-serif;
}

a {
  color: $primary;
  text-decoration: none;
}

.input {
  min-height: 2em;
  padding: 0 0.5em;
  border: 2px solid $foreground;
  margin: 0;
  appearance: none;
  background: none;
  border-radius: 2px;
  line-height: 2em;
  outline-color: $primary;
  transition: border $transition;
}

.button {
  display: inline-block;
  min-width: 2em;
  min-height: 2em;
  padding: 0.5em;
  border: 2px solid $foreground;
  appearance: none;
  background: $foreground;
  border-radius: 2px;
  color: $background;
  cursor: pointer;
  text-decoration: none;
  transition: background-color $transition;

  &:active {
    background: rgba($foreground, 0.6);
  }

  &:disabled {
    cursor: default;
  }

  &[hidden] {
    display: none;
  }
}

.hint {
  opacity: 0.5;
}
