#join {
  display: grid;
  min-height: 100%;
  gap: 1rem;
  place-content: center;

  .create {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto minmax(120px, min-content);
    grid-template-rows: auto auto;

    & > h2 {
      grid-column: span 2;
    }
  }

  .join {
    ul {
      padding: 0;
      list-style-type: none;

      & li {
        padding: 0.5rem;
        border-left: 4px solid $foreground;
        margin: 0.5rem 0;

        & a {
          color: inherit;
        }

        @each $name, $color in $colors {
          &:nth-child(6n + #{$name}) {
            border-color: $color;
          }
        }
      }
    }
  }
}
