#login {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;

  form {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto minmax(120px, min-content);
    grid-template-rows: auto auto;

    & > h2 {
      grid-column: span 2;
    }
  }
}
