extends layout

block data
    - title = "About"

block content
    main.centerbox
        h1 What is this game?
        p Trilma, or more commonly known as Sternhalma (or even more commonly as chinese checkers) is #[cite a strategy board game of German origin which can be played by two, three, four, or six people, playing individually or with partners (#[a(href="https://en.wikipedia.org/wiki/Chinese_checkers") Wikipedia])].

        h1 How to play?
        p Players take alternating turns of moving a single piece. Each turn can consist of either step by one cell or any number of consecutive jumps over adjacent pieces (own or opponent's). Player that races all of their pieces first to the opposite corner of the star, wins.
        p Pieces can be controlled by clicking on them. Move is confirmed either by pressing #[kbd space], #[kbd return] or "Done" button.

        h1 Where can I find source code?
        p #[a(href="https://github.com/adampsz/trilma") Here].