doctype html

- let title = null

html(lang="en")
    head
        block data

        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title #{ title ? `${ title } | Trilma` : 'Trilma'  }

        link(rel="stylesheet", href="./static/index.css")
        
        block scripts
    body
        block content
