extends layout

block content
    #login.centerbox
        form(method="post")
            h2 What is your name?
            input.input(name="name" required maxlength="16" autocomplete="off" autofocus)
            button.button(type="submit") Enter
